
  <div class="col-lg-6">
    <button [routerLink]='["/blog"]' class="btn btn-default ">METODOLOGÍAS ÁGILES</button>
    <div class="item1"></div>
  </div>
  <div class="col-lg-6">
    <button [routerLink]='["/blog"]' class="btn btn-default">METODOLOGÍAS TRADICIONALES</button>
    <div class="item1"></div>
  </div>
  <div class="col-lg-6">
    <button [routerLink]='["/blog"]' class="btn btn-default">PROGRAMACIÓN WEB</button>
    <div class="item3"></div>

  </div>
  <div class="col-lg-6">
    <button [routerLink]='["/blog"]' class="btn btn-default">PROGRAMACIÓN MOVIL</button>
    <div class="item4"></div>

  </div>
  
 


