.item1{
   

    height:200px;
    width:500px;
    background:url(agil.jpg);
    background-repeat: no-repeat;
    

}
.item2{
   
    margin-left: 120px;
    margin-right: auto;
    display: block;
    height:620px;
    width:100px;
    background:url(angular.png);
    background-repeat: no-repeat;
    background-size: contain;

}
.item3{
   
    margin-top: 20px;
    display: block;
    height:620px;
    width:300px;
    background:url(aplicaciones-web.jpg);
    background-repeat: no-repeat;
    background-size: contain;

}
.item4{
   
    margin-top: 20px;
    display: block;
    height:620px;
    width:300px;
    background:url(movil.jpg);
    background-repeat: no-repeat;
    background-size: contain;

}